*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#1e0579;
}
img {
    width : 60px;
    height : 60px;
    }
.header{
    background-color:#110131;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-right{ 
    display:flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
}

.h1-header{
    color: #fff;
    padding: 20px 100px 20px 20px;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.active{
    padding-right: 30px;
}


.container1 {
    display: flex;
  /* align-items: center; */
    /* max-width: 90%; */
    margin: 1% auto;
    /* padding-left: 10px; */
  }
  .container2 {
    display:flex;
    padding-left: 35%;


  }
    
  .img {
    margin-left: 3%;
    width: 350px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 15%;
    border: solid 3px #000;
}

.name {
    margin-left: 30px;
    width: 200px;
    height: 100%;
    padding: 2%;
    background-color: #110131;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.members{
    margin-left: 30px;
    width: 250px;
    padding: 2%;
    background-color: #110131;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.CreationDate{
    padding: 1%;
    margin-left: 30px;
    width: 250px;
    height: 100%;
    padding: 2%;
    background-color: #110131;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.FirstAlbum{
    margin-left: 30px;
    width: 200px;
    height: 100%;
    padding: 2%;
    background-color: #110131;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.Location{
    margin-left: 30px;
    width: 250px;
    height: 100%;
    padding: 2%;
    background-color: #110131;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}