* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #1e0579;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: #110131;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10 ;
}
img {
    width: 60;
    height: 60px;
    align-self: center;
    margin-left: 10px;
}
.img-groupe {
    width: 30%;
    height: 30%;
    align-self: center;
    margin-left: 10px;
    border-radius: 60%;
}

.h1-header {
    color: #fff;
    font-size: 150%;
    font-weight: 60px;
    text-align:left;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 0 20px;
}


.active{
    padding-right: 3vw;
}

.container1 {
    display: flex;
    margin: 1%;
    justify-content: space-between;
}

.container2 {
    display:flex;
    justify-content: center;
}

.img {
    margin-left: 4%;
    margin-top: 4%;
    width: 35vw;
    height: 30vw;
    background-color: #ffffff;
    border-radius: 15%;
    border: solid 0.2vw #000;
}

.name {
    width: 20vw;
    padding: 5%;
    background-color: #110131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    color: white;
    text-align: center;
    font-size: 2vw;
}

.left{
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.members{
    width: 20vw;
    padding: 2%;
    background-color: #110131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    color: white;
    text-align: center;
    font-size: 2vw;
}

.CreationDate{
    width: 20vw;
    padding: 5%;
    background-color: #110131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    color: white;
    text-align: center;
    font-size: 2vw;

}
.FirstAlbum{
    width: 20vw;
    padding: 5%;
    background-color: #110131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    color: white;
    text-align: center;
    font-size: 2vw;
}
.Location{
    width: 25vw;
    padding: 1%;
    background-color: #110131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    color: white;
    text-align: center;
    font-size: 2vw;
    margin-top: 10px;
}


@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: last baseline
    }}