* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #1e0579;
}

.header {
    background-color: #110131;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10 ;
}
img {
    width: 60;
    height: 60px;
    align-self: center;
    margin-left: 10px;
  }

.h1-header {
    color: #fff;
    font-size: 150%;
    font-weight: 60px;
    text-align:left;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 0 20px;
}


.active{
    padding-right: 3vw;
}

.container1 {
    display: flex;
    margin: 1% auto;
}

.container2 {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img {
    margin-left: 2%;
    width: 35vw;
    height: 30vw;
    background-color: #ffffff;
    border-radius: 15%;
    border: solid 0.2vw #000;
}

.name {
    margin-left: 3vw;
    width: 20vw;
    height: 100%;
    padding: 2%;
    background-color: #110131;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    color: white;
    text-align: center;
    font-size: 2vw;
}

.members{
    margin-top: 1vw;
    width: 25vw;
    padding: 2%;
    background-color: #110131;
    display: flex;
    justify-content: center;
    border-radius: 1vw;
    color: white;
    text-align: center;
    font-size: 2vw;
}

.CreationDate{
        width: 25vw;
        padding: 1%;
        background-color: #110131;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1vw;
        color: white;
        text-align: center;
        font-size: 2vw;
        margin-top: -150px;
        margin-left: 20vw;

    }
.FirstAlbum{
    width: 20vw;
    height: 100%;
    padding: 2%;
    background-color: #110131;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    color: white;
    text-align: center;
    font-size: 2vw;
}
.Location{
    margin-left: -10vw;
    width: 25vw;
        padding: 1%;
        background-color: #110131;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1vw;
        color: white;
        text-align: center;
        font-size: 2vw;
        margin-top: 10px;
}


@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center
    }}