
<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<title>Spotify Callback Handler</title>
</head>
<body>
	<h1>Spotify Callback Handler</h1>
	<hr>
	<p>Access token: {{.AccessToken}}</p>
	<form method="GET">
		<label for="artist">Artist:</label>
		<input type="text" name="artist" id="artist">
		<button type="submit">rechercher</button>
	</form>
	{{if .Artist}}
		<hr>
		<h2> "{{.Artist}}"</h2>
		{{SearchResult.Artists}}
			<ul>
				{{range .SearchResult.Artists}}
					<li><a href="?artist={{.Name}}&amp;artist_id={{.ID}}">{{.Name}}</a></li>
				{{end}}
			</ul>
		{{end}}
	{{end}}
	{{if .TopTracks}}
		<hr>
		<h2>Top Tracks for "{{.SelectedArtist.Name}}"</h2>
		{{if .TopTracks}}
			<ul>
				{{range .TopTracks}}
					<li>{{.Name}} - {{.Album.Name}} <a href="{{.PreviewURL}}">(Preview)</a></li>
				{{end}}
			</ul>
		{{else}}
			<p>No top tracks found for "{{.SelectedArtist.Name}}"</p>
		{{end}}
	{{end}}
</body>
</html>
